Playing with **Excellent Pandas Notebooks from book Pandas Cookbook:** [kaggle discussion](https://www.kaggle.com/discussions/getting-started/120943)

In [2]:
import pandas as pd

# 1. Reading data from a .csv file

In [10]:
broken_df = pd.read_csv('../data/bikes_montreal_2012.csv', encoding='ISO-8859-1')
broken_df[:3]

  Date;Berri 1;Brébeuf (données non disponibles);Côte-Sainte-Catherine;Maisonneuve 1;Maisonneuve 2;du Parc;Pierre-Dupuy;Rachel1;St-Urbain (données non disponibles)
0                   01/01/2012;35;;0;38;51;26;10;16;
1                   02/01/2012;83;;1;68;153;53;6;43;
2                 03/01/2012;135;;2;104;248;89;3;58;

In [29]:
fixed_df = pd.read_csv('../data/bikes_montreal_2012.csv', 
                       encoding='latin1', # Change encoding
                       sep=';', # New separator
                       parse_dates=['Date'], # Parse the dates
                       dayfirst=True, # Our dates have the day first instead of the month
                       index_col='Date' # Set the index to be Date column
                      )
fixed_df[:3]

,Berri 1,Brébeuf (données non disponibles),Côte-Sainte-Catherine,Maisonneuve 1,Maisonneuve 2,du Parc,Pierre-Dupuy,Rachel1,St-Urbain (données non disponibles)
Date,,,,,,,,,
2012-01-01,35,NaN,0,38,51,26,10,16,NaN
2012-01-02,83,NaN,1,68,153,53,6,43,NaN
2012-01-03,135,NaN,2,104,248,89,3,58,NaN